In [85]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

In [86]:
warnings.filterwarnings('ignore')

In [87]:
data = pd.read_csv('yds_data.csv')
data.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [88]:
data.shape

(30697, 28)

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30697 entries, 0 to 30696
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             30697 non-null  int64
 1   match_event_id         29134 non-null  float64
 2   location_x             29236 non-null  float64
 3   location_y             29157 non-null  float64
 4   remaining_min          29135 non-null  float64
 5   power_of_shot          29211 non-null  float64
 6   knockout_match         29180 non-null  float64
 7   game_season            24835 non-null  object
 8   remaining_sec          29103 non-null  float64
 9   distance_of_shot       29130 non-null  float64
 10  is_goal                24429 non-null  float64
 11  area_of_shot           29195 non-null  object
 12  shot_basics            29122 non-null  object
 13  range_of_shot          29133 non-null  object
 14  team_name              29162 non-null  object
 15  date_of_game           29147 non-null  object
 16  home/away              29200 non-null  object
 17  shot_id_number         29134 non-null  float64
 18  lat/lng                29132 non-null  object
 19  type_of_shot           15417 non-null  object
 20  type_of_combined_shot  15280 non-null  object
 21  match_id               30697 non-null  int64
 22  team_id                30697 non-null  int64
 23  remaining_min.1        29162 non-null  float64
 24  power_of_shot.1        29158 non-null  float64
 25  knockout_match.1       29204 non-null  float64
 26  remaining_sec.1        29158 non-null  float64
 27  distance_of_shot.1     29129 non-null  float64
dtypes: float64(15), int64(3), object(10)
memory usage: 6.6+ MB

In [90]:
data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,30697.0,1.534800e+04,8.861605e+03,0.000000e+00,7.674000e+03,1.534800e+04,2.302200e+04,3.069600e+04
match_event_id,29134.0,2.495760e+02,1.501860e+02,2.000000e+00,1.110000e+02,2.540000e+02,3.690000e+02,6.590000e+02
location_x,29236.0,7.383876e+00,1.102630e+02,-2.500000e+02,-6.800000e+01,0.000000e+00,9.500000e+01,2.480000e+02
location_y,29157.0,9.112693e+01,8.767640e+01,-4.400000e+01,4.000000e+00,7.400000e+01,1.600000e+02,7.910000e+02
remaining_min,29135.0,4.883233e+00,3.452533e+00,0.000000e+00,2.000000e+00,5.000000e+00,8.000000e+00,1.100000e+01
power_of_shot,29211.0,2.519359e+00,1.153976e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,7.000000e+00
knockout_match,29180.0,1.459561e-01,3.530683e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
remaining_sec,29103.0,2.832938e+01,1.747066e+01,0.000000e+00,1.300000e+01,2.800000e+01,4.300000e+01,5.900000e+01
distance_of_shot,29130.0,3.344888e+01,9.369656e+00,2.000000e+01,2.500000e+01,3.500000e+01,4.100000e+01,9.900000e+01
is_goal,24429.0,4.453314e-01,4.970125e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
shot_id_number,29134.0,1.536858e+04,8.866521e+03,1.000000e+00,7.693250e+03,1.537850e+04,2.305575e+04,3.069700e+04
match_id,30697.0,2.476407e+07,7.755175e+06,2.000001e+07,2.050008e+07,2.090035e+07,2.960047e+07,4.990009e+07
team_id,30697.0,1.610613e+09,0.000000e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
remaining_min.1,29162.0,1.820461e+01,2.941697e+01,0.000000e+00,3.000000e+00,6.000000e+00,1.100000e+01,1.287616e+02
power_of_shot.1,29158.0,1.599411e+01,2.967682e+01,1.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.183600e+02
knockout_match.1,29204.0,1.659940e+01,3.517202e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.413523e+02
remaining_sec.1,29158.0,3.902730e+01,2.983528e+01,0.000000e+00,1.700000e+01,3.500000e+01,5.200000e+01,1.447856e+02
distance_of_shot.1,29129.0,3.880185e+01,1.878771e+01,9.400000e+00,2.600000e+01,3.600000e+01,4.400000e+01,1.157280e+02

In [91]:
missing_data = pd.DataFrame({'total missing':data.isnull().sum(),'Percent missing':(data.isnull().sum()/data.shape[0])*100})
missing_data

                       total missing  Percent missing
Unnamed: 0                         0         0.000000
match_event_id                  1563         5.091703
location_x                      1461         4.759423
location_y                      1540         5.016777
remaining_min                   1562         5.088445
power_of_shot                   1486         4.840864
knockout_match                  1517         4.941851
game_season                     5862        19.096329
remaining_sec                   1594         5.192690
distance_of_shot                1567         5.104733
is_goal                         6268        20.418933
area_of_shot                    1502         4.892986
shot_basics                     1575         5.130795
range_of_shot                   1564         5.094960
team_name                       1535         5.000489
date_of_game                    1550         5.049353
home/away                       1497         4.876698
shot_id_number                  1563         5.091703
lat/lng                         1565         5.098218
type_of_shot                   15280        49.776851
type_of_combined_shot          15417        50.223149
match_id                           0         0.000000
team_id                            0         0.000000
remaining_min.1                 1535         5.000489
power_of_shot.1                 1539         5.013519
knockout_match.1                1493         4.863667
remaining_sec.1                 1539         5.013519
distance_of_shot.1              1568         5.107991

In [92]:
data.shape

(30697, 28)

In [93]:
data.is_goal.value_counts()

0.0    13550
1.0    10879
Name: is_goal, dtype: int64

In [94]:
13550+10879

24429

In [95]:
data.head(5).transpose()

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
match_event_id,10.0,12.0,35.0,43.0,155.0
location_x,167.0,-157.0,-101.0,138.0,0.0
location_y,72.0,0.0,135.0,175.0,0.0
remaining_min,10.0,10.0,7.0,6.0,NaN
power_of_shot,1.0,1.0,1.0,1.0,2.0
knockout_match,0.0,0.0,0.0,0.0,0.0
game_season,2000-01,2000-01,2000-01,2000-01,2000-01
remaining_sec,27.0,22.0,45.0,52.0,19.0
distance_of_shot,38.0,35.0,36.0,42.0,20.0
is_goal,NaN,0.0,1.0,0.0,1.0
area_of_shot,Right Side(R),Left Side(L),Left Side Center(LC),Right Side Center(RC),Center(C)
shot_basics,Mid Range,Mid Range,Mid Range,Mid Range,Goal Area
range_of_shot,16-24 ft.,8-16 ft.,16-24 ft.,16-24 ft.,Less Than 8 ft.
team_name,Manchester United,Manchester United,Manchester United,Manchester United,NaN
date_of_game,2000-10-31,2000-10-31,2000-10-31,2000-10-31,2000-10-31
home/away,MANU @ POR,MANU @ POR,NaN,MANU @ POR,MANU @ POR
shot_id_number,1.0,2.0,3.0,4.0,5.0
lat/lng,"45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648"
type_of_shot,shot - 30,shot - 45,shot - 25,NaN,NaN
type_of_combined_shot,NaN,NaN,NaN,shot - 3,shot - 1
match_id,20000012,20000012,20000012,20000012,20000012
team_id,1610612747,1610612747,1610612747,1610612747,1610612747
remaining_min.1,10.0,10.0,92.64,NaN,42.64
power_of_shot.1,1.0,1.0,1.0,1.0,2.0
knockout_match.1,50.608,28.8,0.0,122.608,0.0
remaining_sec.1,54.2,22.0,63.7216,52.0,19.0
distance_of_shot.1,38.0,35.0,54.4,42.0,20.0

In [96]:
data.drop(columns=['Unnamed: 0','remaining_min.1','power_of_shot.1','knockout_match.1','remaining_sec.1',
                   'distance_of_shot.1'],axis=1,inplace=True)

In [97]:
data.head().transpose()

,0,1,2,3,4
match_event_id,10.0,12.0,35.0,43.0,155.0
location_x,167.0,-157.0,-101.0,138.0,0.0
location_y,72.0,0.0,135.0,175.0,0.0
remaining_min,10.0,10.0,7.0,6.0,NaN
power_of_shot,1.0,1.0,1.0,1.0,2.0
knockout_match,0.0,0.0,0.0,0.0,0.0
game_season,2000-01,2000-01,2000-01,2000-01,2000-01
remaining_sec,27.0,22.0,45.0,52.0,19.0
distance_of_shot,38.0,35.0,36.0,42.0,20.0
is_goal,NaN,0.0,1.0,0.0,1.0
area_of_shot,Right Side(R),Left Side(L),Left Side Center(LC),Right Side Center(RC),Center(C)
shot_basics,Mid Range,Mid Range,Mid Range,Mid Range,Goal Area
range_of_shot,16-24 ft.,8-16 ft.,16-24 ft.,16-24 ft.,Less Than 8 ft.
team_name,Manchester United,Manchester United,Manchester United,Manchester United,NaN
date_of_game,2000-10-31,2000-10-31,2000-10-31,2000-10-31,2000-10-31
home/away,MANU @ POR,MANU @ POR,NaN,MANU @ POR,MANU @ POR
shot_id_number,1.0,2.0,3.0,4.0,5.0
lat/lng,"45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648","45.539131, -122.651648"
type_of_shot,shot - 30,shot - 45,shot - 25,NaN,NaN
type_of_combined_shot,NaN,NaN,NaN,shot - 3,shot - 1
match_id,20000012,20000012,20000012,20000012,20000012
team_id,1610612747,1610612747,1610612747,1610612747,1610612747

In [98]:
data['date_of_game']

0        2000-10-31
1        2000-10-31
2        2000-10-31
3        2000-10-31
4        2000-10-31
            ...
30692    2000-06-19
30693    2000-06-19
30694    2000-06-19
30695    2000-06-19
30696    2000-06-19
Name: date_of_game, Length: 30697, dtype: object

In [99]:
data['date_of_game'] = pd.to_datetime(data['date_of_game'])

In [100]:
data['date_of_game']

0       2000-10-31
1       2000-10-31
2       2000-10-31
3       2000-10-31
4       2000-10-31
           ...
30692   2000-06-19
30693   2000-06-19
30694   2000-06-19
30695   2000-06-19
30696   2000-06-19
Name: date_of_game, Length: 30697, dtype: datetime64[ns]

In [101]:
data['game_season']

0        2000-01
1        2000-01
2        2000-01
3        2000-01
4        2000-01
          ...
30692    1999-00
30693    1999-00
30694    1999-00
30695    1999-00
30696    1999-00
Name: game_season, Length: 30697, dtype: object

In [102]:

l_gs = data['game_season'].unique()
l_gs

array(['2000-01', nan, '2001-02', '2002-03', '2003-04', '2004-05',
       '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11',
       '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '1996-97',
       '1997-98', '1998-99', '1999-00'], dtype=object)

In [103]:
v_gs = np.arange(len(l_gs))
v_gs

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20])

In [104]:
data['game_season'].replace(l_gs,v_gs,inplace=True)

In [105]:
data['game_season'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20], dtype=int64)

In [106]:
data['game_season'] = data['game_season'].astype(int)

In [107]:
data.game_season

0         0
1         0
2         0
3         0
4         0
         ..
30692    20
30693    20
30694    20
30695    20
30696    20
Name: game_season, Length: 30697, dtype: int32

In [108]:
data.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot             1486
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
dtype: int64

In [109]:
data['power_of_shot'].fillna(data.power_of_shot.mean(),inplace=True)
data.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot    15417
match_id                     0
team_id                      0
dtype: int64

In [110]:
data.type_of_combined_shot.value_counts()

shot - 3    11685
shot - 4     2736
shot - 1      609
shot - 5       90
shot - 2       82
shot - 0       78
Name: type_of_combined_shot, dtype: int64

In [111]:
data.type_of_combined_shot.mode()

0    shot - 3
dtype: object

In [112]:
data['type_of_combined_shot'].fillna(data.type_of_combined_shot.mode()[0],inplace=True)

In [113]:
data.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec             1594
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [114]:
data['remaining_sec']

0        27.0
1        22.0
2        45.0
3        52.0
4        19.0
         ...
30692     5.0
30693     5.0
30694    28.0
30695    10.0
30696    39.0
Name: remaining_sec, Length: 30697, dtype: float64

In [115]:
data['remaining_sec'].fillna(data.remaining_sec.median(),inplace=True)

In [116]:
data.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number            1563
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [117]:
# didnt got it
data.shot_id_number = pd.Series(np.arange(1,data.shot_id_number.shape[0]+1))
data.isnull().sum()

match_event_id            1563
location_x                1461
location_y                1540
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [118]:
data['location_x'].fillna(0,inplace=True)
data['location_y'].fillna(0,inplace=True)
data.isnull().sum()

match_event_id            1563
location_x                   0
location_y                   0
remaining_min             1562
power_of_shot                0
knockout_match            1517
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                 1535
date_of_game              1550
home/away                 1497
shot_id_number               0
lat/lng                   1565
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [119]:
col = ['home/away','lat/lng', 'team_name','match_id','match_event_id', 'team_id', 
       'remaining_min', 'knockout_match',  'game_season' ]
data.loc[:,col] = data.loc[:,col].ffill()

In [120]:
data.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics               1575
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [121]:
data.shot_basics.unique()

array(['Mid Range', 'Goal Area', 'Goal Line', 'Penalty Spot', nan,
       'Right Corner', 'Mid Ground Line', 'Left Corner'], dtype=object)

In [122]:
data.range_of_shot.unique()

array(['16-24 ft.', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', nan,
       'Back Court Shot'], dtype=object)

In [123]:
# Filling Missing Values In "shot_basics" based on "range_of_short" column!
# if the range of the shot is 16-24 ft it's a mid range shot
data.loc[(data.range_of_shot == '16-24 ft.'), 'shot_basics'] = data[data.range_of_shot == '16-24 ft.'].shot_basics.fillna(value='Mid Range')

# if the range of the shot is less than 8 ft then randomly assign goal line or goal area value to the shot 
data.loc[(data.range_of_shot == 'Less Than 8 ft.')&(data.shot_basics.isnull()), 'shot_basics']   =  pd.Series(data[(data.range_of_shot == 'Less Than 8 ft.')&(data.shot_basics.isnull())].shot_basics.apply(lambda x: x if type(x)==str else np.random.choice(['Goal Area', 'Goal Line'],1,p=[0.7590347263095939, 0.24096527369040613])[0]))
# if the range of the shot is  8-16 ft then randomly assign goal line or mid range value to the shot
data.loc[(data.range_of_shot == '8-16 ft.')&(data.shot_basics.isnull()), 'shot_basics']          =  pd.Series(data[(data.range_of_shot == '8-16 ft.')&(data.shot_basics.isnull())].shot_basics.apply(lambda x: x if type(x)==str else np.random.choice(['Mid Range', 'Goal Line'],1,p=[0.6488754615642833, 0.35112453843571667])[0]))
# if the range of the shot is more than 24 ft then randomly assign one of the values from'Penalty Spot', 'Right Corner', 'Left Corner' to shot_basic field
data.loc[(data.range_of_shot == '24+ ft.')&(data.shot_basics.isnull()), 'shot_basics']            =  pd.Series(data[(data.range_of_shot == '24+ ft.')&(data.shot_basics.isnull())].shot_basics.apply(lambda x: x if type(x)==str else np.random.choice(['Penalty Spot', 'Right Corner', 'Left Corner'],1,p=[0.8932384341637011, 0.06192170818505338, 0.044839857651245554])[0]))
# if the shot is a back court shot then randomly assign one of the values from''Mid Ground Line', 'Penalty Spot' to shot_basic field
data.loc[(data.range_of_shot == 'Back Court Shot')&(data.shot_basics.isnull()), 'shot_basics']    =  pd.Series(data[(data.range_of_shot == 'Back Court Shot')&(data.shot_basics.isnull())].shot_basics.apply(lambda x: x if type(x)==str else np.random.choice(['Mid Ground Line', 'Penalty Spot'],1,p=[0.8441558441558441, 0.15584415584415584])[0]))
data.isna().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                 66
range_of_shot             1564
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [124]:
data['range_of_shot'].unique()

array(['16-24 ft.', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', nan,
       'Back Court Shot'], dtype=object)

In [125]:
# Filling Missing Values In "range_of_short" based on "short_basics" column!

# if shot_basics is Goal Area, then range of shot is Less Than 8 ft
data.loc[(data.shot_basics == 'Goal Area'), 'range_of_shot']       = data[data.shot_basics == 'Goal Area'].range_of_shot.fillna(value='Less Than 8 ft.')
# if shot_basics is Penalty Spot, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Penalty Spot'), 'range_of_shot']    = data[data.shot_basics == 'Penalty Spot'].range_of_shot.fillna(value= '24+ ft.')
# if shot_basics is Right Corner, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Right Corner'), 'range_of_shot']    = data[data.shot_basics == 'Right Corner'].range_of_shot.fillna(value='24+ ft.')
# if shot_basics is Left Corner, then range of shot is  24+ ft.
data.loc[(data.shot_basics == 'Left Corner'), 'range_of_shot']     = data[data.shot_basics == 'Left Corner'].range_of_shot.fillna(value='24+ ft.')
# if shot_basics is Mid Ground Line , then range of shot is  Back Court Shot
data.loc[(data.shot_basics == 'Mid Ground Line'), 'range_of_shot'] = data[data.shot_basics == 'Mid Ground Line'].range_of_shot.fillna(value='Back Court Shot')
# if shot_basics is Mid Range then randomly assign '16-24 ft.' or  '8-16 ft.' to range of shot
data.loc[(data.shot_basics == 'Mid Range')&(data.range_of_shot.isnull()), 'range_of_shot']       = pd.Series(data[(data.shot_basics == 'Mid Range')&(data.range_of_shot.isnull())].range_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(['16-24 ft.', '8-16 ft.'],1,p=[0.6527708850289495, 0.34722911497105047])[0]))
# if shot_basics is Goal Line then randomly assign ''8-16 ft.' or  'Less Than 8 ft.' to range of shot
data.loc[(data.shot_basics == 'Goal Line')&(data.range_of_shot.isnull()), 'range_of_shot']       = pd.Series(data[(data.shot_basics == 'Goal Line')&(data.range_of_shot.isnull())].range_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(['8-16 ft.', 'Less Than 8 ft.'],1,p=[0.5054360956752839, 0.49456390432471614])[0]))

data.isnull().sum() # number of missing values for range_of_shot column should have been reduced

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                 66
range_of_shot               66
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [126]:
data.shot_basics.ffill(inplace=True)
data.range_of_shot.ffill(inplace=True)
data.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot              1502
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [127]:
data.area_of_shot.unique()

array(['Right Side(R)', 'Left Side(L)', 'Left Side Center(LC)',
       'Right Side Center(RC)', 'Center(C)', nan, 'Mid Ground(MG)'],
      dtype=object)

In [128]:
data.area_of_shot.fillna(value='Center(LC)',inplace=True)
data.isnull().sum()

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot          1567
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [129]:
data.distance_of_shot.unique()

array([38., 35., 36., 42., 20., 34., 22., 32., 45., 37., nan, 29., 25.,
       40., 31., 27., 46., 39., 28., 33., 21., 47., 48., 44., 43., 24.,
       41., 67., 30., 49., 62., 23., 68., 50., 65., 26., 53., 56., 82.,
       51., 90., 63., 58., 57., 60., 52., 76., 55., 75., 71., 88., 59.,
       61., 84., 70., 69., 79., 80., 74., 94., 64., 81., 85., 72., 54.,
       66., 78., 89., 77., 73., 87., 91., 97., 99.])

In [130]:
#Filling the Missing values in "distance_of_shot"
# if distance_of_shot isnull randomly assign a value from 20,45,44,37
data.loc[data['distance_of_shot'].isnull(), 'distance_of_shot'] = pd.Series(data.loc[data['distance_of_shot'].isnull(), 'distance_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice([20,45,44,37],1,p=[0.5278056615137523,0.18630797028709095,0.14384661714515157,0.1420397510540052])[0])) 
data.isnull().sum() # number of missing values for distance_of_shot column should be zero

match_event_id               0
location_x                   0
location_y                   0
remaining_min                0
power_of_shot                0
knockout_match               0
game_season                  0
remaining_sec                0
distance_of_shot             0
is_goal                   6268
area_of_shot                 0
shot_basics                  0
range_of_shot                0
team_name                    0
date_of_game              1550
home/away                    0
shot_id_number               0
lat/lng                      0
type_of_shot             15280
type_of_combined_shot        0
match_id                     0
team_id                      0
dtype: int64

In [131]:
# Making the train Dataset
train = data[data.is_goal.notnull()]
print('the Shape of Train Dataset',train.shape)
train.set_index(np.arange(train.shape[0]),inplace=True)
train.head()

the Shape of Train Dataset (24429, 22)

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,12.0,-157.0,0.0,10.0,1.0,0.0,0,22.0,35.0,0.0,...,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,2,"45.539131, -122.651648",shot - 45,shot - 3,20000012,1610612747
1,35.0,-101.0,135.0,7.0,1.0,0.0,0,45.0,36.0,1.0,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,3,"45.539131, -122.651648",shot - 25,shot - 3,20000012,1610612747
2,43.0,138.0,175.0,6.0,1.0,0.0,0,52.0,42.0,0.0,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,4,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747
3,155.0,0.0,0.0,6.0,2.0,0.0,0,19.0,20.0,1.0,...,Less Than 8 ft.,Manchester United,2000-10-31,MANU @ POR,5,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747
4,244.0,-145.0,-11.0,9.0,3.0,0.0,1,32.0,34.0,0.0,...,8-16 ft.,Manchester United,2000-10-31,MANU @ POR,6,"45.539131, -122.651648",shot - 17,shot - 3,20000012,1610612747

In [132]:
# Making the Test Dataset
test = data[data.is_goal.isnull()]
print('The Shape of Test Dataset',test.shape)
test.set_index(np.arange(test.shape[0]), inplace=True)
test.head()

The Shape of Test Dataset (6268, 22)

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,...,range_of_shot,team_name,date_of_game,home/away,shot_id_number,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id
0,10.0,167.0,72.0,10.0,1.0,0.0,0,27.0,38.0,NaN,...,16-24 ft.,Manchester United,2000-10-31,MANU @ POR,1,"45.539131, -122.651648",shot - 30,shot - 3,20000012,1610612747
1,254.0,1.0,28.0,8.0,3.0,0.0,0,5.0,22.0,NaN,...,Less Than 8 ft.,Manchester United,2000-10-31,MANU @ POR,8,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747
2,100.0,0.0,0.0,0.0,1.0,0.0,0,1.0,20.0,NaN,...,Less Than 8 ft.,Manchester United,2000-11-01,MANU vs. UTA,17,"42.982923, -71.446094",NaN,shot - 4,20000019,1610612747
3,249.0,0.0,0.0,10.0,3.0,0.0,1,46.0,20.0,NaN,...,Less Than 8 ft.,Manchester United,2000-11-01,MANU vs. UTA,20,"42.982923, -71.446094",shot - 4,shot - 3,20000019,1610612747
4,265.0,134.0,127.0,9.0,3.0,0.0,1,4.0,38.0,NaN,...,16-24 ft.,Manchester United,2000-11-01,MANU vs. UTA,22,"42.982923, -71.446094",shot - 24,shot - 3,20000019,1610612747

In [133]:
train.is_goal.unique()

array([0., 1.])

In [134]:
train.type_of_shot.unique()

array(['shot - 45', 'shot - 25', nan, 'shot - 17', 'shot - 36',
       'shot - 44', 'shot - 7', 'shot - 12', 'shot - 6', 'shot - 20',
       'shot - 30', 'shot - 54', 'shot - 42', 'shot - 39', 'shot - 37',
       'shot - 21', 'shot - 4', 'shot - 0', 'shot - 1', 'shot - 2',
       'shot - 15', 'shot - 10', 'shot - 49', 'shot - 51', 'shot - 46',
       'shot - 11', 'shot - 32', 'shot - 24', 'shot - 3', 'shot - 53',
       'shot - 5', 'shot - 41', 'shot - 40', 'shot - 19', 'shot - 52',
       'shot - 16', 'shot - 56', 'shot - 55', 'shot - 43', 'shot - 29',
       'shot - 31', 'shot - 13', 'shot - 35', 'shot - 26', 'shot - 28',
       'shot - 33', 'shot - 22', 'shot - 50', 'shot - 8', 'shot - 34',
       'shot - 38', 'shot - 9', 'shot - 48', 'shot - 23', 'shot - 18',
       'shot - 27', 'shot - 14', 'shot - 47'], dtype=object)

In [135]:
train.type_of_shot.isnull().sum()

12136

In [136]:
lgoal = train[train.is_goal==1].type_of_shot.value_counts().head(6)
lgoal

shot - 4     604
shot - 39    432
shot - 44    330
shot - 36    326
shot - 15    292
shot - 38    268
Name: type_of_shot, dtype: int64

In [137]:
goal = train[train.is_goal==1].type_of_shot.value_counts().head(6).sum()
print(goal)
pgoal = (train[train.is_goal==1].type_of_shot.value_counts().head(6)/goal).tolist()
print(pgoal)

2252
[0.2682060390763766, 0.19182948490230906, 0.14653641207815277, 0.1447602131438721, 0.12966252220248667, 0.11900532859680284]

In [138]:
# if is_goal is 1, if type of shot is a string value, fill with the same or else fill with randomly choosing value from l_goal
g = pd.Series(train[train.is_goal == 1].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(lgoal,1,p=pgoal)[0]))
# # if is_goal is 1, if type of shot is null then type of shot becomes equal to the value of g based on the index
train.loc[(train.is_goal == 1)&(train.type_of_shot.isnull()), 'type_of_shot'] = g
train['type_of_shot'].isna().sum() # number of missing values got reduced from more than 15k to 6723

6723

In [139]:
l_no_goal   = train[train.is_goal == 0].type_of_shot.value_counts().head(5).keys()     # Top five shots when it was not a goal
p_no_sum  = train[train.is_goal == 0].type_of_shot.value_counts().head(5).sum()
p_no_goal   = (train[train.is_goal == 0].type_of_shot.value_counts().head(5) / p_no_sum ).tolist() # There respective probablities 
ng = pd.Series(train[train.is_goal == 0].type_of_shot.apply(lambda x: x if type(x)==str else np.random.choice(l_no_goal,1,p=p_no_goal)[0]))
train.loc[(train.is_goal == 0)&(train.type_of_shot.isnull()), 'type_of_shot'] = ng 
train['type_of_shot'].isna().sum() # number of missing values got reduced to zero

0

In [140]:
train.isnull().sum()

match_event_id              0
location_x                  0
location_y                  0
remaining_min               0
power_of_shot               0
knockout_match              0
game_season                 0
remaining_sec               0
distance_of_shot            0
is_goal                     0
area_of_shot                0
shot_basics                 0
range_of_shot               0
team_name                   0
date_of_game             1237
home/away                   0
shot_id_number              0
lat/lng                     0
type_of_shot                0
type_of_combined_shot       0
match_id                    0
team_id                     0
dtype: int64

In [141]:
train['date_of_game'].isnull().sum()

1237

In [142]:
test.isnull().sum()

match_event_id              0
location_x                  0
location_y                  0
remaining_min               0
power_of_shot               0
knockout_match              0
game_season                 0
remaining_sec               0
distance_of_shot            0
is_goal                  6268
area_of_shot                0
shot_basics                 0
range_of_shot               0
team_name                   0
date_of_game              313
home/away                   0
shot_id_number              0
lat/lng                     0
type_of_shot             3144
type_of_combined_shot       0
match_id                    0
team_id                     0
dtype: int64

In [143]:
#Handeling the remaing values in test dataset with a smilira approach
test.loc[test['type_of_shot'].isnull(), 'type_of_shot'] = pd.Series(test.loc[test['type_of_shot'].isnull(), 'type_of_shot'].apply(lambda x: x if type(x)==str else np.random.choice(['shot - 39', 'shot - 36', 'shot - 4'],1,p=[0.37377133988618727, 0.33419555095706155, 0.2920331091567512])[0]))

In [144]:
test.isnull().sum()

match_event_id              0
location_x                  0
location_y                  0
remaining_min               0
power_of_shot               0
knockout_match              0
game_season                 0
remaining_sec               0
distance_of_shot            0
is_goal                  6268
area_of_shot                0
shot_basics                 0
range_of_shot               0
team_name                   0
date_of_game              313
home/away                   0
shot_id_number              0
lat/lng                     0
type_of_shot                0
type_of_combined_shot       0
match_id                    0
team_id                     0
dtype: int64

In [145]:
%%time
# Labeling the catagories with integers
for col in train.columns:
    if train[col].dtypes == object: # if the column has categorical values
        l_unique = train[col].unique() # find the unique values
        v_unique = np.arange(len(l_unique)) # create a list of number from zero to the length of the I_unique values
        train[col].replace(to_replace=l_unique, value=v_unique, inplace=True) # replace the categorical values with numerical values
        train[col] = train[col].astype('int') # change the type from int64 to int32
        
        # same has been done for test data as well
        test[col].replace(to_replace=l_unique, value=v_unique, inplace=True)
        test[col] = test[col].astype('int')

Wall time: 3.12 s

In [146]:
train.drop(['date_of_game'],axis=1,inplace=True)

In [147]:
test.drop(['date_of_game'],axis=1,inplace=True)

In [148]:
train.isnull().sum()

match_event_id           0
location_x               0
location_y               0
remaining_min            0
power_of_shot            0
knockout_match           0
game_season              0
remaining_sec            0
distance_of_shot         0
is_goal                  0
area_of_shot             0
shot_basics              0
range_of_shot            0
team_name                0
home/away                0
shot_id_number           0
lat/lng                  0
type_of_shot             0
type_of_combined_shot    0
match_id                 0
team_id                  0
dtype: int64

In [149]:
test.isnull().sum()

match_event_id              0
location_x                  0
location_y                  0
remaining_min               0
power_of_shot               0
knockout_match              0
game_season                 0
remaining_sec               0
distance_of_shot            0
is_goal                  6268
area_of_shot                0
shot_basics                 0
range_of_shot               0
team_name                   0
home/away                   0
shot_id_number              0
lat/lng                     0
type_of_shot                0
type_of_combined_shot       0
match_id                    0
team_id                     0
dtype: int64